.wrapMask {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  z-index: 1000;
  transition: all 3s ease-in-out;
  animation: box 3s ease-in-out forwards;
}

@keyframes box {
  0% {
    opacity: 0;
    transform: scale(0.4);
  }
  80% {
    transform: scale(1.15);
  }
  100% {
    opacity: 1;
  }
}
.bg {
  position: relative;
  font-family: 'MyFont', sans-serif;
  text-align: center;
  white-space: normal;
  font-size: 220px;

  line-height: 0.68;
  text-transform: uppercase;
  background: url('../../assets/svg/image.svg') 0 0 / cover no-repeat;
  color: #de466c;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  width: 350px;
  word-break: break-all;
}

.letter {
  animation: reveal 0.2s ease-in-out;
  animation-fill-mode: forwards;
}

.letter0 {
  animation-delay: 1.2s;
}

.letter1 {
  animation-delay: 1s;
}

.letter2 {
  animation-delay: 0.8s;
}

.letter3 {
  animation-delay: 0.6s;
}

.letter4 {
  animation-delay: 0.4s;
}

.letter5 {
  animation-delay: 0.2s;
}

@keyframes reveal {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(0);
  }
}

@media screen and (min-width: 768px) {
  .wrapMask {
    justify-content: center;
  }
  .bg {
    font-size: 260px;
  }
}
@media screen and (min-width: 992px) {
  .bg {
    font-size: 350px;

    width: 450px;
  }
}
