@import url('https://fonts.googleapis.com/css2?family=Jomhuria&family=Oswald:wght@400;500;700&family=Roboto:wght@400;700&display=swap');

@font-face {
  font-family: 'MyFont';
  src: url('../src/fonts/FREEFATFONT-Regular.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e1e3e9;
  overflow-x: hidden;
}

.container {
  width: 90%;
  margin: 0 auto;
  position: relative;
}

li {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}

:root {
  --secondaryColor: #f54329;
}
